body, h1, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(to bottom right, #2ecc71, #1e90ff, #ffffff); /* Hijau, Biru, Putih */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: #333;
}

.container {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    color: #0d248e;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    margin-left: -10px;
    border: 1px solid #ddd;
    font-size: 16px;
    background: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #213bae;
    box-shadow: 0 0 6px #213bae;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 14px;
    background: #213bae;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="submit"]:hover {
    background: #10ac84;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(16, 172, 132, 0.5);
}

input[type="submit"]:active {
    background: #152494;
    transform: scale(0.98);
    box-shadow: none;
}

a {
    color: #152494;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #152494;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}
